header.header 
  // po kropce jest określana klasa, a po nastęnej kropce argumenty 
  nav.nav.nav--tours
    a.nav__el(href='/') Wszystkie wycieczki
  .header__logo
    // automatycznie doda div
    img(src='/img/logo-white.png' alt='logo wycieczek')
  nav.nav.nav--user
    if uzytkownik 
      // pobiera zmienną użytkownik z authController.zalogowany
      a.nav__el.nav__el--logout Wyloguj się
      a.nav__el(href='/me')
        img.nav__user-img(src=`/img/users/${uzytkownik.photo}` alt=`Foto ${uzytkownik.name}`)
        span= uzytkownik.name.split(' ')[0]
    else
      a.nav__el(href='/login') logowanie
      a.nav__el.nav__el--cta(href='#') rejestracja