footer.footer
  .footer__logo
    // img(src='/img/logo-green.png' alt='Natours logo')
  ul.footer__nav
    li: a(href='#') O nas
    li: a(href='#') Zainstaluj apkę
    li: a(href='#') Zostań przewodnikiem
    li: a(href='#') Kariera
    li: a(href='#') Kontakt
  p.footer__copyright &copy; by Michał Sobieraj. Wszystkie prawa zastrzeżone.