extends baza 

block zawartosc
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Zaloguj się
      form.form.form--login
        .form__group
          label.form__label(for='email') email
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group.ma-bt-md
          label.form__label(for='password') hasło
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green Login